<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | xinchyi.me</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="内外兼修">
    <meta name="keywords" content="XinChyi的博客, XinChyi Blog, 博客, 个人网站, 互联网, 前端, 骑行, 平流层的人">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="container">
      <nav>
        <div onclick="location.href='/';">xinchyi</div>
      </nav>
      <div class="site">
        <div class="header"></div>
        {{ content }}
      </div>
    </div>
  </body>
</html>
